html {
  width: 100vw;
}

body {
  background-color: #767554;
}

header {
  width: 100vw;
}

h1 {
  font-size: 40px;
  text-align: center;
  background-color: #648c84;
  color: rgba(220, 77, 20, 0.904);
  }

header img {
  display: flex;
  flex-direction: row;
  margin: 10px auto 10px auto;
  justify-content:space-evenly;
  background-color: rgba(220, 77, 20, 0.904);
  border: 2px;
  border-style: groove;
  border-color: black;
}

nav img {
  height:initial;
  width: initial;
}

ul {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
}

ul li {
  
  height: 70px;
  width: 200px;
  background-color: gray;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
}

main h1 {
  font-size: 40px;
  text-align: center;
  background-color: #648c84;
}

table {
  color:white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: solid white 2px;
  width: 100vw;
}

th {
  border: solid white 2px;
  width: 100vw;
}

#add-a-location {
  display: inline-block;
}

.highlights {
  font-family: 'Akshar', sans-serif;
}

.data {
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

body nav {
  border: groove 2px black;
  margin: 10px;
}

main ul {
  border: groove 2px black;
  margin: 10px;
  width: 100%;
}

fieldset {
  border: groove 2px black;
  margin: 10px;
}

fieldset label {
  border: groove 2px black;
  width: max-content;
  height: max-content;
  margin: auto;
}

fieldset input {
  border: groove 2px black;
  margin: 10px;
}

.form-column {
  display: flex;
  flex-direction: row;
  width: 400px;
  gap: 25px;
  justify-content: left;
}
